Repository MysteryBlokHed/databind, changes with the labels that .github/labeler.yaml gives for each.
All labels: source, lib, cli, databind create, documentation, tests, workflows

Add `internal:` prefix to `panic!` messages
  src/compiler/compile.rs
  src/compiler/tokenize.rs
Labels: source, lib

Move code to order files to new function
  src/files.rs
  src/main.rs
Labels: source, lib, cli

Add new types TagMap and GlobalMacros
  src/compiler/compile.rs
  src/files.rs
  src/lib.rs
  src/main.rs
  src/types.rs
Labels: source, lib, cli

Remove unused import from files.rs
  src/files.rs
Labels: source, lib

Move code reading vars.toml to new function
  src/files.rs
  src/main.rs
Labels: source, lib, cli

Update docs in files.rs
  src/files.rs
Labels: source, lib

Update tag_map and global_macros definitions
  src/main.rs
  src/types.rs
Labels: source, lib, cli

Move code to get CLI matches to new function
  src/cli.rs
  src/main.rs
Labels: source, cli

Update Cargo.lock
  Cargo.lock
Labels: none

Add `--locked` to all cargo commands
  .github/workflows/build_and_test.yaml
  README.md
Labels: workflows

Trigger workflows
  src/main.rs
Labels: source, cli

Revert "Trigger workflows"
  src/main.rs
Labels: source, cli

Add `--locked` to all cargo commands (#134)
  .github/workflows/build_and_test.yaml
  README.md
Labels: workflows

Move code to compile global macros to new function
  src/compiler/mod.rs
  src/main.rs
Labels: source, lib, cli

Move `use` in cli.rs to below license comment
  src/cli.rs
Labels: source, cli

Update CLI file imports
  src/cli.rs
  src/create_project.rs
  src/main.rs
Labels: source, cli, databind create

Change main.rs to more compact `use`
  src/main.rs
Labels: source, cli

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Move CLI files to new directory
  Cargo.toml
  src/cli/cli.rs
  src/cli/create_project.rs
  src/cli/main.rs
Labels: source, lib

.github/labeler.yaml:

source: src/**
lib:
  - any: [src/**, '!src/main.rs', '!src/cli.rs', '!src/create_project.rs']
cli:
  - src/main.rs
  - src/cli.rs
  - src/create_project.rs
databind create: src/create_project.rs
documentation: docs/**
tests: tests/**
workflows:
  - .github/workflows/**
  - .github/labeler.yaml
